@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.form-area {
  background-color: #fff;
  /* padding: 40px; */
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-area .form-inner {
  width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 1.4;
  color: #475f7b;
  background-color: #fff;
  border: 1px solid #dfe3e7;
  border-radius: 0.267rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #475f7b;
  background-color: #fff;
  border-color: #5a8dee;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

.form-control-mb {
  font-family: "Roboto", sans-serif;
  display: block;
  border: none;
  border-radius: 0.267rem;
  border: 1px solid transparent;
  line-height: 1.5rem;
  padding: 0;
  font-size: 1rem;
  color: #607d8b;
  width: 100%;
}
.form-control-mb:focus {
  outline: none;
}
